<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css">
        <title>Portafolio de Adaly</title>
    </head>
    <body>
        <!--Barra de navegación.-->
        <nav>
            <div id="div-index-ref">
                <a href="/">
                    <span id="span-title">
                        <p id="nav-nombre">Adaly Manzanares</p>
                    </span>
                </a>
            </div>
            <div id="div-index-proyectos">
                <a href="/proyectos">
                    <span id="span-proyectos">
                        <p id="nav-proyectos">Proyectos</p>
                    </span>
                </a>
            </div>
        </nav>
        <div id="principal">
            <!--Sección del logo animado de presentación.-->
            <div id="logo-animado">
                <div id="div-into-logo-animado">
                    <!--<span id="etiqueta-bienvenida">¡Hola, soy Adaly!</span>-->
                    <span id="caracter1">¡</span>
                    <span id="caracter2">H</span>
                    <span id="caracter3">o</span>
                    <span id="caracter4">l</span>
                    <span id="caracter5">a</span>
                    <span id="caracter6">,</span>
                    <span>&nbsp;</span>
                    <span id="caracter7">s</span>
                    <span id="caracter8">o</span>
                    <span id="caracter9">y</span>
                    <span>&nbsp;</span>
                    <span id="caracter10">A</span>
                    <span id="caracter11">d</span>
                    <span id="caracter12">a</span>
                    <span id="caracter13">l</span>
                    <span id="caracter14">y</span>
                    <span id="caracter15">!</span>
                </div>
            </div>
            <!--Presentación corta.-->
            <div id="presentacion-corta">
                <p>Me dedico al desarrollo de software y estoy ubicado en México.</p>
            </div>
            <!--Nombre y habilidades.-->
            <div id="nombre-habilidades">
                <h1>Adaly Manzanares</h1>
                <p>Desarrollador de software. Desarrollador front-end y back-end.</p>
            </div>
            <!--Trabajo o proyectos.-->
            <div id="proyectos">
                <h3>Trabajo</h3>
                <p>
                Actualmente soy un estudiante de ingeniería en sistemas computacionales a punto de egresar,
                que no cuenta con experiencia profesional por el momento pero pueden ver algunos 
                de los proyectos que he desarrollado en la universidad a continuación.
                </p>
                <!--Botón para llevar al portafolio.-->
                <div id="div-boton">
                    <a href="/proyectos">
                        <span id="span-boton">
                            <p id="boton-portafolio">Mi portafolio</p>
                        </span>
                    </a>
                </div>
            </div>
            <!--Biografía corta.-->
            <div id="biografia-corta">
                <h3>Biografía</h3>
                <div class="div-biografia">
                    <span class="fechas-biografia">1998</span>
                    <p>Nací en Chiapas, México.</p>
                </div>
                <div class="div-biografia">
                    <span class="fechas-biografia">2016 - Presente</span>
                    <p>Ingresé a la Escuela Superior de Cómputo del Instituto Politécnico Nacional
                    en la carrera de Ingeniería en Sistemas Computacionales.</p>
                </div>
            <!--Gustos.-->
            <!--Tecnologías.-->
            <div id="tecnologias">
                <h3>Tecnologías</h3>
                <div id="logos">
                    <div>
                        <img src="img/html.png" alt="html" id="logo-html" class="logos-tecnologias">
                    </div>
                    <div>
                        <img src="img/css-3.png" alt="css" id="logo-css" class="logos-tecnologias">
                    </div>
                    <div>
                        <img src="img/js.png" alt="js" id="logo-js" class="logos-tecnologias">
                    </div>
                    <div>
                        <img src="img/nodejs.png" alt="nodejs" id="logo-nodejs" class="logos-tecnologias">
                    </div>
                    <div>
                        <img src="img/expressjs.png" alt="expressjs" id="logo-expressjs" class="logos-tecnologias">
                    </div>
                    <div>
                        <img src="img/sql-server.png" alt="sql" id="logo-sql" class="logos-tecnologias">
                    </div>
                    <div>
                        <img src="img/git.png" alt="git" id="logo-git" class="logos-tecnologias">
                    </div>
                    <div>
                        <img src="img/github.png" alt="github" id="logo-github" class="logos-tecnologias">
                    </div>
                    <div>
                        <img src="img/python.png" alt="python" id="logo-python" class="logos-tecnologias">
                    </div>                    
                </div>
            </div>
            <!--Redes sociales o contacto.-->
            <div id="contacto">
                <h3>Contacto</h3>
                <div id="medios1">
                    <div id="div-linkedin">
                        <a href="https://www.linkedin.com/in/alexis-adaly-m-961741105" target="_blank" id="enlace-linkedin">
                            <img src="img/linkedin.png" alt="linkedin" id="logo-linkedin" class="contacto">
                            <span>Adaly Manzanares</span>
                        </a>
                    </div>
                    <div id="div-correo">
                        <a href="mailto:adalymmoncada@gmail.com" id="enlace-correo">
                            <img src="img/correos-electronicos.png" alt="correo" id="logo-correo" class="contacto">
                            <span>Envíame un correo</span>
                        </a>
                    </div>
                </div>
                <div id="medios2">
                    <div id="div-telefono">
                        <a href="tel:+5219186948721" id="enlace-telefono">
                            <img src="img/telefono-inteligente.png" alt="telefono" id="logo-telefono" class="contacto">
                            <span>Hazme una llamada</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div id="div-footer">
                <p>© Adaly Manzanares</p>
                <p>Todos los derechos reservados.</p> 
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
