<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/estilosProyectos.css">
        <title>Proyectos</title>
    </head>
    <body>
        <div id="principal">
            <div id="advertencia">
                <div id="contenedor">
                    <img src="img/gears.png" alt="construccion" id="logo-engranes">
                    <p>Este sitio está en construcción.</p>
                </div>
            </div>
        </div>
    </body>
</html>