@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    background-color: #f3eaea;
    background-image: url('https://media3.giphy.com/media/IeSXccYMz3K4U/giphy.gif?cid=ecf05e47crybhbyzgx0vsdol91uxl1d0w6ti48mall60wr8u&rid=giphy.gif&ct=g');/*url('/img/food-pixel-art.gif');url('https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}

*{
    margin: 0;
    padding: 0;
}

#principal{
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#advertencia{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#contenedor{
    display: inline-block;
    margin: 0 auto;
}

#logo-engranes{
    width: 300px;
    height: 300px;
    animation-duration: 2s;
    animation-name: logo-advertencia;
}

@keyframes logo-advertencia{
    0%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}    

#contenedor p{
    font-size: 30px;
    animation: letras-advertencia .4s ease 0s normal none;
}

@keyframes letras-advertencia{
    0%{
        margin-left: 100%;
        width: 300%;
    }

    100%{
        margin-left: 0%;
        width: 100%;
    }
}

@media (max-width: 412px){
    html{
        font-family: 'Poppins', sans-serif;
        background-image: url('https://media3.giphy.com/media/IeSXccYMz3K4U/giphy.gif?cid=ecf05e47crybhbyzgx0vsdol91uxl1d0w6ti48mall60wr8u&rid=giphy.gif&ct=g');/*url('/img/food-pixel-art.gif');url('https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');*/
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
    
    body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    #principal{
        display: table;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-backdrop-filter: blur(.313rem);
        backdrop-filter: blur(.313rem);
    }
    
    #advertencia{
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        text-align: center;
    }
    
    #contenedor{
        display: inline-block;
        margin: 0 auto;
    }
    
    #logo-engranes{
        width: 15.75rem;
        height: 15.75rem;
        animation-duration: 2s;
        animation-name: logo-advertencia;
    }
    
    @keyframes logo-advertencia{
        0%{
            transform: scale(.5);
        }
        100%{
            transform: scale(1);
        }
    }    
    
    #contenedor p{
        font-size: 1.25rem;
        animation: letras-advertencia .4s ease 0s normal none;
    }
    
    @keyframes letras-advertencia{
        0%{
            margin-left: 100%;
            width: 300%;
        }
    
        100%{
            margin-left: 0%;
            width: 100%;
        }
    }
}